/*
Colours:
    Primary: #ffffff (RGB: 255, 255, 255)
    Secondary: #2f3340 (RGB: 47, 51, 64)
    Primary Button: #5865f2 (RGB: 88, 101, 242)
    Secondary Button: #5e49ba (RGB: 94, 73, 186)
    Accent: #2f73c6 (RGB: 47, 115, 198)
    Error: #f04747 (RGB: 240, 71, 71)
    Secondary Background: #4b5166 (RGB: 75, 81, 102)
*/

QWidget {
    background-color: #2f3340;
    color: #ffffff;
}

QPushButton {
    background-color: #5865f2;
    color: #ffffff;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QPushButton:hover {
    background-color: #5e49ba;
    border: 3px solid #5e49ba;
}

QPushButton:pressed {
    background-color: #2f73c6;
    border: 3px solid #2f73c6;
}

QLineEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QLineEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}

QTextEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QTextEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}

QPlainTextEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QPlainTextEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}


QComboBox {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QComboBox:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}


QComboBox QAbstractItemView {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
    selection-background-color: #5865f2;
    selection-color: #ffffff;
}

QComboBox QAbstractItemView:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}


QSpinBox QDoubleSpinBox QAbstractSpinBox{
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QSpinBox QDoubleSpinBox QAbstractSpinBox:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}



QDateEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QDateEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}


QTimeEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QTimeEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}

QDateTimeEdit {
    background-color: #ffffff;
    color: #2f3340;
    border-radius: 5px;
    border: 3px solid #5865f2;
    padding: 5px;
}

QDateTimeEdit:hover {
    background-color: #ffffff;
    border: 3px solid #5e49ba;
}


QDial {
    background-color: #2f3340;
    color: #ffffff;
}

QDial:hover {
    background-color: #2f3340;
}

/* QSlider must have a nice semi-rounded square as the groove (the thing you drag)
and the groove must be a different color than the handle (the thing you drag with)
*/

QSlider::groove:horizontal {
    border-radius: 5px;
    height: 10px;

}
QSlider::groove:vertical {
    border-radius: 5px;
    width: 10px;
}
QSlider::handle {
    background-color: #ffffff;
    border: 3px solid #5865f2;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    margin: -5px 0;
}

QSlider::handle:horizontal:hover {
    border: 3px solid #5e49ba;
}

QSlider::handle:vertical {
    margin: 0 -5px;
}

QSlider::handle:vertical:hover {
    border: 3px solid #5e49ba;
}

QSlider::add-page:horizontal {
    background-color: #2f3340;
}

QSlider::add-page:vertical {
    background-color: #2f3340;
}

QSlider::sub-page:horizontal {
    background-color: #5865f2;
}

QSlider::sub-page:vertical {
    background-color: #5865f2;
}

QScrollBar:horizontal {
    background-color: #2f3340;
    color: #ffffff;
    border-radius: 5px;
    border: 3px solid #5865f2;
    height: 20px;
    margin: 0px 20px 0 20px;
}

QScrollBar:vertical {
    background-color: #2f3340;
    color: #ffffff;
    border-radius: 5px;
    border: 3px solid #5865f2;
    width: 20px;
    margin: 20px 0 20px 0;
}

QScrollBar::handle:horizontal, QScrollBar::handle:vertical {
    background-color: #5865f2;
    border-radius: 5px;
    border: 3px solid #5865f2;
    min-width: 20px;
}

QScrollBar::handle:horizontal:hover, QScrollBar::handle:vertical:hover {
    background-color: #5e49ba;
    border-radius: 5px;
    border: 3px solid #5e49ba;
}

QScrollBar::add-line {
    background-color: #5865f2;
    border-radius: 5px;
    border: 3px solid #5865f2;
    width: 20px;
}

QScrollBar::add-line:horizontal {
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line {
    background-color: #5865f2;
    border-radius: 5px;
    border: 3px solid #5865f2;
    width: 20px;

}

QScrollBar::sub-line:horizontal {
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::sub-line:hover, QScrollBar::add-line:hover {
    background-color: #5e49ba;
    border-radius: 5px;
    border: 3px solid #5e49ba;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background-color: #2f3340;
}

